
		<nav class="pos-f-t  navbar navbar-expand-lg main-navbar sticky-top ">
			
        <div class="container-fluid">			
          <a class="navbar-brand mb-1" href="#">
            <img src="assets/img/logo-light.png" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" aria-expanded="false" (click)="isCollapsed = !isCollapsed" (click)="click()">
            <span class="navbar-toggler-icon" >
              <i class="ion-navicon"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" [collapse]=isCollapsed >
            <div class="mr-auto"></div>
            <ul class="navbar-nav" >
              <div class="d-block d-sm-block d-md-none">
                <br>
              </div>
              <li class="nav-item mt-1" style="cursor: pointer;">
                  <a (click)="gPhotos()" class="nav-link smooth-link " (click)="isCollapsed = !isCollapsed">Fotos</a>
                </li>
              <li class="nav-item mt-1">
                <a class="nav-link smooth-link " href="#features" (click)="isCollapsed = !isCollapsed">Conocenos</a>
              </li>
              <li class="nav-item mt-1">
                <a class="nav-link smooth-link" href="#blog" (click)="isCollapsed = !isCollapsed">Blog</a>
              </li>
              <li class="nav-item mt-1">
                <a class="nav-link smooth-link" href="#project" (click)="isCollapsed = !isCollapsed">Precios</a>
              </li>
            </ul>
            <form class="form-inline mt-4" >
              <a href="#contact" class="btn smooth-link align-middle btn-primary" (click)="isCollapsed = !isCollapsed">Contactanos</a>
            </form>
          </div>
        </div>
      </nav>