/*footer*/
footer {
	padding: 80px 0 60px 0;
	text-align: center;
	background-color: #000;
	color: #fff;
}

footer figure {
	width: 120px;
	margin: 0 auto;
	margin-bottom: 30px;
}

footer figure img {
	width: 100%;
}

footer p {
	font-weight: 600;
	letter-spacing: 1.5px;
	font-size: 12px;
	color: #777;
	margin-bottom: 10px;
	text-transform: uppercase;
}

footer i {
	color: #ff0000;
}