<div class="main-agile" >
    <div class="w3l-overlay">
        <!-- banner -->
        <div id="home" class="w3ls-banner"> 
            <!-- banner-text -->
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides callbacks callbacks1" id="slider4">
                        <li id="callbacks1_s0" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">
                            <div class="w3layouts-banner-top">
                                <div class="container">
                                    <div class="agileits-banner-info">
                                        <p>Si Es Mariachi Es</p>
                                        <h3>{{name}}</h3>
                                        <div class="agileits_w3layouts_more menu__item">
                                            <a (click)="gHome()" class="menu__link" data-toggle="modal" data-target="#myModal">Contatanos</a>
                                        </div>
                                    </div>	
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
                <!-- //banner-text -->
            </div>
        </div>	
        <!-- //banner --> 
        <!-- header -->
        <div class="header-w3layouts"> 
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header page-scroll">
                    
                    <h1><a class="navbar-brand" ></a></h1>
                </div> 
                <!-- Collect the nav links, forms, and other content for toggling -->
            </nav>  
        </div>	
        <!-- //header -->
        <!-- Modal1 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                            <img src="images/3.jpg" alt=" " class="img-responsive">
                            <h5>Donec lobortis pharetra dolor</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable..</p>
                    </div>
                </div>
                <!-- //Modal content-->
            </div>
        </div>
        <!-- //Modal1 -->
    </div>	
    </div>