

    <div *ngIf="!mobile" class="vid d-flex  container-fluid justify-content-center align-items-center ">
                
            
        <div class="imgd"  [hidden]="myVar">
        </div>
                <div class="loader" [hidden]="myVar">
                </div>
                    
              
        <video  [muted]="muted" [src]="video()"  play inline autoplay  loop id="bgvid" class="d-none d-sm-none d-md-block  ">
          <source [src]="video()" type="video/mp4">
          </video>
    </div>

    <div *ngIf="mobile" class="vid d-flex slider container-fluid justify-content-center align-items-center ">
            <div class="imgd"  [hidden]="myVar">
                </div>
                        <div class="loader" [hidden]="myVar">
                        </div>
    </div>
