<div class="container">
    <div class="form" method="POST">
        <div class="input-group mb-3 mt-5">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Id</span>
            </div>
            <input type="number" class="form-control" placeholder="Id" [(ngModel)]="id" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="row" style="padding-top: 1rem">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                  <button type="submit" class="btn btn-success" (click)="onSubmit($event)"><i class="fa fa-sign-in"></i> Delete</button>
              </div>
          </div>   
    </div>
  </div>
  <div class="alert alert-warning" id="button" role="alert" [hidden]="hiddens" >
    {{error.error}}
  </div>
  <div class="alert alert-warning" id="button" role="alert" [hidden]="hiddensT" >
    {{msj}}
  </div>