<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="author" content="Valentin Alejandro Ruiz Ortiz">
		<meta name="keyword" content="Kodinger, template, html5, css3, bootstrap4">
		<meta name="description" content="Mariachi de Jalisco Guadalajara Los nungaray">
		<title>Mariachi Los Nungaray</title>
		
	</head>

	<body>
		<app-header></app-header>

		<!-- <section class="hero bg-overlay" id="hero" data-bg="../../assets/img/beauty.jpg"> -->
			<section class="hero " id="hero">
				<app-video [muted]="muted"></app-video>
			<div class="text">
				<p class="lead d-none d-sm-none d-md-block "><span class="bold">De Los Mejores Mariachis De JALISCO</span></p>
				<h1><span class="bold">{{name}}</span></h1>
				<div class="cta">
					<a href="#contact" class="d-none d-sm-none d-md-inline btn btn-primary smooth-link" >Contactanos</a>
					<a href="tel:3320768955" id="contacto" class="d-inline d-sm-inline d-md-none btn btn-primary" >Contactanos</a>
				</div>
				<div class="cta ">
						<a href="#blog"  class="d-none d-sm-none d-md-inline btn-primary smooth-link btn btn-warning">Conocenos</a>
					</div>
			</div>
		</section>
		<section class="padding" id="features">
			<div class="container mt-3">
				<div class="row">
					<div class="col-12 col-md-4 col-sm-12">
						<div class="list-item">
							<div class="icon">
								<i class="ion-mic-c"></i>
							</div>
							<div class="desc">
								<h2>Conformada La Agrupacion</h2>
								<p>
										La agrupación puede estar conformada por un arpa,  vihuela,   guitarra,  guitarrón, trompetas y violines.
								</p>							
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4 col-sm-12">
						<div class="list-item">
							<div class="icon">
								<i class="ion-speakerphone"></i>
							</div>
							<div class="desc">
								<h2>Mariachi Por Excelencia</h2>
								<p>
									Mariachi Los Nungaray uno de los mariachis mas calificados y reconocidos en guadalajara
								</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4 col-sm-12">
						<div class="list-item no-spacing">
							<div class="icon">
									<i class="ion-pricetags"></i>
							</div>
							<div class="desc">
								<h2>Adaptable</h2>
								<p>
									Mariachi listo para cualquier evento que tengas desde serenatas hasta fiesta o eventos adaptable para lo que nesesites
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="padding bg-grey" id="blog">
			<div class="container">
				<div class="d-none d-sm-none d-md-block">
					<a id="button" (click)="clickToMuted()"><div class="icon "> <i class="ion-volume-high"></i> </div></a>

				</div>

				<h2 class="section-title" >Te invitamos a escucharnos</h2>
				<p class="section-lead text-muted d-none d-sm-none d-md-block">Disfruta al cantar y escuchar tus canciones favoritas de artistas tan queridos como lo son Juan Gabriel, Vicente Fernández, Alejandro Fernández, Joan Sebastian solo por mencionar algunos, acompaña con música esos momentos tan especiales </p>
				<p class="section-lead text-muted d-block d-sm-block d-md-none">Escucha tus canciones favoritas  Juan Gabriel, Vicente Fernández, Alejandro Fernández, Joan Sebastian solo por mencionar algunos. </p>
				<div class="section-body">
					<div class="row col-spacing">
						<div class="col-12 col-md-6 col-lg-4">
							<article class="card" >
								<div class="youtube">
									<iframe class="video"  allowfullscreen width="325" height="250" src="https://www.youtube.com/embed/eD_MTo7PjV8" frameborder="0" allow="autoplay; encrypted-media"></iframe>
								</div>
								<div class="card-body">
									<div class="card-subtitle mb-2 text-muted">by <a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" target="_blank">Los Nungaray</a> En Diciembre 30, 2017</div>
									<h4 class="card-title"><a href="https://www.youtube.com/watch?v=eD_MTo7PjV8"  data-id="1" target="_blank">17 Años - Angeles Azules</a></h4>
									<p class="card-text" >Una de las canciones mas famosas del gran grupo Los Angeles Azules Interpretada por el Mariachi Los Nungaray</p>
									<div class="text-right" >						    	
										<a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" class="card-more" data-id="1" target="_blank">Ver mas <i class="ion-ios-arrow-right"></i></a>
							    </div>
						    </div>
						  </article>
					  </div>
					  <div class="col-12 col-md-6 col-lg-4">
							<article class="card" >
								<div class="youtube">
									<iframe class="video"  allowfullscreen width="325" height="250" src="https://www.youtube.com/embed/HK6tbkZ9AjA" frameborder="0" allow="autoplay; encrypted-media"></iframe>
								</div>
								<div class="card-body">
									<div class="card-subtitle mb-2 text-muted">by <a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" target="_blank">Los Nungaray</a> En Enero 12, 2018</div>
									<h4 class="card-title"><a href="https://www.youtube.com/watch?v=HK6tbkZ9AjA"  data-id="1" target="_blank">Adios Amor - Christian Nodal</a></h4>
									<p class="card-text" >Una Cancion que rompe las fronteras en el mundo Interpretada por el Mariachi Los Nungaray</p>
									<div class="text-right" >						    	
										<a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" class="card-more" data-id="2" target="_blank">Ver mas <i class="ion-ios-arrow-right"></i></a>
							    </div>
						    </div>
						  </article>
					  </div>
					  <div class="col-12 col-md-6 col-lg-4">
							<article class="card" >
								<div class="youtube">
									<iframe class="video"  allowfullscreen width="325" height="250" src="https://www.youtube.com/embed/Pm8wHBTfgVA" frameborder="0" allow="autoplay; encrypted-media"></iframe>
								</div>
								<div class="card-body">
									<div class="card-subtitle mb-2 text-muted">by <a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" target="_blank">Los Nungaray</a> En diciembre 22, 2017</div>
									<h4 class="card-title"><a href="https://www.youtube.com/watch?v=Pm8wHBTfgVA"  data-id="1" target="_blank">Se Va Muriendo Mi Alma - Marco Solis</a></h4>
									<p class="card-text" >“Se va muriendo mi alma” es un clásico de la música mexicana, es una cancion que la hemos escuchado en miles de versiones</p>
									<div class="text-right" >						    	
										<a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" class="card-more" data-id="3" target="_blank">Ver mas <i class="ion-ios-arrow-right"></i></a>
							    </div>
						    </div>
						  </article>
					  </div>
					  <div class="col-12 col-md-6 col-lg-4">
							<article class="card" >
								<div class="youtube">
									<iframe class="video"  allowfullscreen width="325" height="250" src="https://www.youtube.com/embed/wRS7D_YkLUg" frameborder="0" allow="autoplay; encrypted-media"></iframe>
								</div>
								<div class="card-body">
									<div class="card-subtitle mb-2 text-muted">by <a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" target="_blank">Los Nungaray</a> En diciembre 2, 2017</div>
									<h4 class="card-title"><a href="https://www.youtube.com/watch?v=wRS7D_YkLUg"  data-id="1" target="_blank">María Chuchena/La bruja</a></h4>
									<p class="card-text" >“Se va muriendo mi alma” es un clásico de la música mexicana, es una cancion que la hemos escuchado en miles de versiones</p>
									<div class="text-right" >						    	
										<a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" class="card-more" data-id="4" target="_blank">Ver mas <i class="ion-ios-arrow-right"></i></a>
							    </div>
						    </div>
						  </article>
					  </div>
					  <div class="col-12 col-md-6 col-lg-4">
							<article class="card" >
								<div class="youtube">
									<iframe class="video"  allowfullscreen width="325" height="250" src="https://www.youtube.com/embed/CJlgb3eqxG4" frameborder="0" allow="autoplay; encrypted-media"></iframe>
								</div>
								<div class="card-body">
									<div class="card-subtitle mb-2 text-muted">by <a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" target="_blank">Los Nungaray</a> En diciembre 21, 2017</div>
									<h4 class="card-title"><a href="https://www.youtube.com/watch?v=CJlgb3eqxG4"  data-id="1" target="_blank">La Bikina</a></h4>
									<p class="card-text" >La Bikina es una famosa canción mexicana compuesta por Rubén Fuentes, en el año de 1964. </p>
									<div class="text-right" >						    	
										<a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" class="card-more" data-id="5" target="_blank">Ver mas <i class="ion-ios-arrow-right"></i></a>
							    </div>
						    </div>
						  </article>
					  </div>
					  <div class="col-12 col-md-6 col-lg-4">
							<article class="card" >
								<div class="youtube">
									<iframe class="video"  allowfullscreen width="325" height="250" src="https://www.youtube.com/embed/Lz9zKcPYQLk" frameborder="0" allow="autoplay; encrypted-media"></iframe>
								</div>
								<div class="card-body">
									<div class="card-subtitle mb-2 text-muted">by <a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" target="_blank">Los Nungaray</a> En diciembre 21, 2017</div>
									<h4 class="card-title"><a href="https://www.youtube.com/watch?v=Lz9zKcPYQLk"  data-id="1" target="_blank">Y Fue Así - Julión Álvarez</a></h4>
									<p class="card-text" >"Y Fue Asi" una de las mas grandes canciones reconocidas a nivel mundial por el gran Julion Alvarez Interpretada por Mariachi Los Nungaray </p>
									<div class="text-right" >						    	
										<a href="https://www.youtube.com/channel/UCFezGaxBNtM7b0ci1Q5BdsQ" class="card-more" data-id="6" target="_blank">Ver mas <i class="ion-ios-arrow-right"></i></a>
							    	</div>
						    	</div>
						  </article>
					  </div>
					</div>

					

				</div>

				<div class="row align-items-center mt-5">
					<div class="col-12 col-md-6">
						<h2>Don't miss our article</h2>
						<p class="text-muted">Just enter your email then we will send an email about the latest articles</p>
					</div>
					<div class="col-12 col-md-6">
						<form class="subscribe" action="#">
							<input type="email" name="email" class="form-control" placeholder="Your email">
							<button class="btn btn-primary">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<section class="bg-overlay padding" id="project" data-bg="../../assets/img/projects.jpeg">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-md-6">
						<figure class="projects-picture">
							<img src="assets/img/youzhang.png" alt="Youzhang">
						</figure>
					</div>
					<div class="col-12 col-md-6">
						<div class="projects-details">
							<div class="projects-badge">
								Featured
							</div>
							<h2 class="projects-title">Youzhang - Ionic 3 Catalogue Template</h2>
							<p class="projects-description">
								Youzhang is an iconic template catalog 3. This ionic template uses version 3 and uses the latest feature of ionic v3 that is Lazy Loading. With Ionic version 3 and Lazy Loading you don’t have to define all the components in the app.module.ts file and your hybrid app will get more native and it will make the app performance better.
							</p>
							<div class="projects-cta">
								<a href="https://codecanyon.net/item/youzhang-ionic-3-catalogue-template/20466954?ref=frameborder" class="btn btn-primary" target="_blank">
									Buy Now
								</a>
								<a href="https://codecanyon.net/user/frameborder?ref=frameborder" class="btn btn-link" target="_blank">
									More Products
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="padding bg-grey" id="contact">
			<div class="container">
				<h2 class="section-title text-center">Contact Us</h2>
				<p class="section-lead text-center text-muted">Send us your inquiry, we will help you and reply as soon as possible</p>
				<div class="section-body">				
					<div class="row col-spacing">
						<div class="col-12 col-md-5">
							<p class="contact-text">You can send us something like a question or project, we are open 09:00 to 17:00.</p>
							<ul class="contact-icon">
								<li><i class="ion ion-ios-telephone"></i> <div>+6212345123</div></li>
								<li><i class="ion ion-ios-email"></i> <div>hi@kodinger.com</div></li>
							</ul>
						</div>
						<div class="col-12 col-md-7">
							<form class="contact row" id="contact-form">
								<div class="form-group col-6">
									<input type="text" class="form-control" placeholder="Name" name="name" required="">
								</div>
								<div class="form-group col-6">
									<input type="email" class="form-control" placeholder="Email" name="email" required="">
								</div>
								<div class="form-group col-12">
									<input type="text" class="form-control" placeholder="Subject" name="subject" required="">
								</div>
								<div class="form-group col-12">
									<textarea class="form-control" placeholder="Message" name="message" required=""></textarea>
								</div>
								<div class="form-group col-12 mt-2">
									<button class="btn btn-primary">
										Send Message
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="callout">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-md-8 text">
						<h3>Start your project with this awesome template</h3>
					</div>
					<div class="col-12 col-md-4 cta">
						<a href="#" class="btn btn-outline-primary">
							Download Now
						</a>
					</div>
				</div>
			</div>
		</section>

		<app-footer></app-footer>


	</body>
</html>