<app-header-admin></app-header-admin>


<div class="container mt-5 d-flex justify-content-around">
  <button type="button" class="btn btn-primary " (click)="click('/admin/find')">Buscar</button>
  <button type="button" class="btn btn-secondary " (click)="click('/admin/delete')">Eliminar</button>
  <button type="button" class="btn btn-success " (click)="click('/admin/add')">Agregar</button>
  <button type="button" class="btn btn-success " (click)="click('/admin/showP')">ShowP</button>
</div>

<router-outlet></router-outlet>