<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Admin</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="signOut()">Sign out</button>
  </form>
</nav>


<div class="container mt-5 d-flex justify-content-center">
  <button type="button" class="btn btn-primary ml-5">Buscar</button>
  <button type="button" class="btn btn-secondary ml-5">Eliminar</button>
  <button type="button" class="btn btn-success ml-5">Agregar</button>
</div>