<app-top></app-top>
<div class="banner-bottom container-fluid" id="gallery">
  <div class="container-fluid m-0 p-0">
      <h3 class="title-w3l">Gallery</h3>
      <div class="row m-0 p-0">
          <div class="col-md-3 m-0 p-0" *ngFor="let image of images">
              <div class="agile_gallery_grid m-0 p-" >
                  <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." [attr.href]="image.link">
                      <div class="agile_gallery_grid1">
                          <img [src]="image.link" alt=" " class="img-responsive" />
                          <div class="w3layouts_gallery_grid1_pos">
                              <h3>{{image.title}}</h3>
                              <p>{{image.description}}</p>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <div [hidden]="myVar" >
        <a id="button" (click)="clickScrollTop()"><div class="icon "> <i class="ion-arrow-up-c"></i> </div></a>

    </div>
          <div class="clearfix"></div>
  </div>
</div>
